<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
   <div class="container">
    <h1>Frequently Asked Questions?</h1>
    <div class="tab">
        <input type="radio" name="acc" id="accl">
        <label for="accl">
            <h2>01</h2>
            <h3>What is Hospital Pre-Register, and how does it work?</h3>
        </label>
        <div class="content">
            <p>Hospital Pre-Register is a service that allows patients to pre-upload their essential personal information, medical history, and consent documents to streamline the admission process in case of emergency surgeries. It helps ensure prompt medical care when needed the most.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc2">
        <label for="acc2">
            <h2>02</h2>
            <h3>Why should I pre-register my information and documents?</h3>
        </label>
        <div class="content">
            <p>Pre-registering your information and documents ensures that there is no delay in receiving critical medical care during emergencies. It saves time that would otherwise be spent gathering these details during admission.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc3">
        <label for="acc3">
            <h2>03</h2>
            <h3>What information and documents do I need to pre-upload?</h3>
        </label>
        <div class="content">
            <p>You should pre-upload essential personal documents like Aadhaar card, PAN card, and voter ID, along with your medical history, current medications, and any known medical conditions or allergies. Additionally, we require your consent for medical procedures.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc4">
        <label for="acc4">
            <h2>04</h2>
            <h3> Is my personal information safe when I pre-register?</h3>
        </label>
        <div class="content">
            <p>Yes, your personal information is treated with the utmost confidentiality and stored securely. We follow strict data protection guidelines to safeguard your data.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc5">
        <label for="acc5">
            <h2>05</h2>
            <h3> How do I pre-register my information and documents?</h3>
        </label>
        <div class="content">
            <p>You can pre-register by visiting our website and following the easy-to-use pre-registration form. Simply fill in the required details and upload the documents.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc6">
        <label for="acc6">
            <h2>06</h2>
            <h3> Can I update my pre-registered information and documents later?</h3>
        </label>
        <div class="content">
            <p>Yes, you can update your pre-registered information and documents at any time by logging into your account on our website.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc7">
        <label for="acc7">
            <h2>07</h2>
            <h3> Is pre-registering mandatory for all patients?</h3>
        </label>
        <div class="content">
            <p>Pre-registering is not mandatory, but it is highly recommended for patients with existing medical conditions or those who want to ensure swift admission during emergencies.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc8">
        <label for="acc8">
            <h2>08</h2>
            <h3> How will pre-registering benefit me during a medical emergency?</h3>
        </label>
        <div class="content">
            <p>Pre-registering expedites the admission process, ensuring that critical medical care begins promptly without delays in collecting personal information and medical history.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc9">
        <label for="acc9">
            <h2>09</h2>
            <h3> What happens after I pre-register?</h3>
        </label>
        <div class="content">
            <p>After pre-registering, your information is securely stored in our system. In case of a medical emergency, our medical staff can access your details quickly to provide timely care.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc10">
        <label for="acc10">
            <h2>10</h2>
            <h3> Is there a fee for using the Hospital Pre-Register service?</h3>
        </label>
        <div class="content">
            <p>No, pre-registering your information and documents is a complimentary service provided by the hospital.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc11">
        <label for="acc11">
            <h2>11</h2>
            <h3> How do I contact support if I have questions or need assistance with pre-registering?</h3>
        </label>
        <div class="content">
            <p>You can reach our customer support team through the contact information provided on our website for any questions or assistance regarding pre-registration.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc12">
        <label for="acc12">
            <h2>12</h2>
            <h3> What happens if I don't pre-register and need emergency care?</h3>
        </label>
        <div class="content">
            <p> If you haven't pre-registered, our medical staff will still provide emergency care. However, the process may take longer as we gather necessary information.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc13">
        <label for="acc13">
            <h2>13</h2>
            <h3> Is my consent legally binding when I pre-register?</h3>
        </label>
        <div class="content">
            <p> Yes, your consent is legally binding. It ensures that medical procedures can be performed promptly in emergency situations.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" name="acc" id="acc14">
        <label for="acc14">
            <h2>14</h2>
            <h3> Can family members or guardians pre-register on behalf of a patient?</h3>
        </label>
        <div class="content">
            <p> Yes, family members or guardians can pre-register on behalf of a patient, but they should have the patient's consent and provide accurate information.</p>
        </div>
    </div>
    <a href="Front.html" class="button">Go to Home Page</a>
   </div> 
   <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#741818;
}
.container
{
    margin: 0 40px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.container h1
{
    color: #fff;
}
.container .tab
{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
}
.container .tab input
{
    appearance: none;
}
.container .tab label
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after
{
    content: '+';
    position: absolute;
    right: 20px;
    font-style: 2em;
    color: rgba(0,0,0,0.1);
    transition: transform 1s;
}
.container .tab:hover label::after
{
    color: #333;
}
.container .tab input:checked ~ label::after
{
    transform: rotate(135deg);
    color: #fff;
}
.container .tab label h2
{
    width: 40px;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab input:checked ~ label h2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-style: 8em;
    justify-content: flex-end;
    padding: 20px;

}
.container .tab:nth-child(2) label h2
{
    background:#8f4444;
}
.container .tab:nth-child(3) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(4) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(5) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(6) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(7) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(8) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(9) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(10) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(11) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(12) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(13) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(14) label h2
{
    background: #8f4444;
}
.container .tab:nth-child(15) label h2
{
    background: #8f4444;
}
.container .tab label h3
{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}

.container .tab input:checked ~ label h3
{
    background: #fff;
    padding: 20px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.container .tab .content
{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.container .tab input:checked ~ .content
{
    max-height: 100vh;
}
.container .tab .content p
{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

.container .tab input:checked ~ .content p
{
    color: #fff;
}
a.button{
    text-decoration: none; /* Remove underline */
    font-family: 'Poppins' , sans-serif;
    color: white; 
    border: none; /* Remove border */
    background-color: #8f4444; /* Remove background color */
    padding: 5px; /* Remove any padding */
    margin: 0;
    border-radius: 3px;
}

   </style>
</body>
</html>